$color-primary: #6DCAFF;
$color-border: lightgray;
$color-placeholder: lightslategray;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

@mixin text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

@mixin text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@mixin text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem; 
}

@mixin text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@mixin text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

@mixin text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
